[Unit]
Description=Set power profile to performance

[Service]
ExecStart=/usr/bin/powerprofilesctl set performance
Type=oneshot

[Install]
WantedBy=default.target
